body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  text-align: center;
  text-transform: capitalize;
}
.nav{
  background: black;
  color: white;
  padding: 1rem;
}
.navAlign{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  cursor: pointer;
}








